/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.topnav{
  text-align: center;
  background-color:white;
  overflow:hidden;
  position:fixed;
}



.topnav .icon{
 display:none;
  
}
.mainimage{
text-align:center;

}
.top-left{
position:absolute;

bottom:8px;
top:36px;
font-size:60px;
left:33%;
font-family: 'Great Vibes', cursive;

}
img{
  background-image:url("");
  height:50%;
  max-width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



  

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple{
  background: rgba(241,63,247,1);
}
#green{
  background: rgba(0,253,81,1);
}
#blue{
  background: rgba(0,254,255);
}

@media screen and (max-width:720px) {
/*CSS code for devices with a maximal width of 720 px */
}