/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.topnav{
  text-align: center;
  background-color:white;
  overflow:hidden;
  postion:fixed;
}
.topnav a{
  color:black;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;  
}

.topnav .icon{
 display:none;
  
}
.mainimage{
text-align:center;

}
.top-left{
position:absolute;
bottom:8px;
top:10px;
font-size:50px;
}
img{
  background-image:url("https://cdn.glitch.global/fc4a6dd1-6150-4e05-b8a2-9a71e18cf9fe/adrian-fernandez-t1jlLrsMpjc-unsplash.jpg?v=1645163956025");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.open-button{
background-color:black;
color:white;
padding: 16px 20px;
border:none;
cursor:pointer;
opacity:0.8;
position:fixed;
nottom:23px;
right:28px;
width:180px;}



.form-popup{
display:none;
positon:fixed;
bottom:0;
right:15px;
border:3px solid  #f1f1f1;
z-index:9;}

.form-container{
max-width:300px;
padding:10px;
background-color:white;}

.form-container textarea{
width:100%
padding:15px;
margin:5px 0 22px 0;
border:none;
background:#f1f1f1;
resize:none;
min-height:200px;}

.form-container textarea:focus{
  background-color:#ddd;
  outline:none;}
  
.form-container .btn{
  
}
  

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple{
  background: rgba(241,63,247,1);
}
#green{
  background: rgba(0,253,81,1);
}
#blue{
  background: rgba(0,254,255);
}
