

box-sizing{ border-box;
}

.topnav{
  text-align:center;
  background-color:white;
  overflow:hidden;
  postion:fixed;
}
.topnav a{
  color:black;
  padding:110px 17px;
  text-decoration:none;
  font-size:17px; 
  
 
}

.topnav .icon{
 display:none;
  
}
.mainimage{
text-align:center;

}
.top-left{
position:absolute;
bottom:8px;
top:30px;
font-size:60px;
left:33%;
font-family: 'Great Vibes', cursive;

}
img{
  dislay:flex;
  background-image:url("https://cdn.glitch.global/fc4a6dd1-6150-4e05-b8a2-9a71e18cf9fe/adrian-fernandez-t1jlLrsMpjc-unsplash.jpg?v=1645163956025");
  height:50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.operation-hours{
  right:50%;
}


  

